.thenavbar{
  height: 80px;
  border-bottom: 1px solid black;
}

.jumbo{
  padding: 20px 0;
}

.jumbo, h3, .star, footer{
  text-align: center;
}

.portfolio img{
  border-radius: 10%;
  margin: 20px 0;
}

.bg-green{
  background: #1abc9c;
  color: #fff;
}

.jumbo img{
  height: 400px;
}



footer{
  background: 	#3a546d;
}

footer row:last-child{
  background: #2c3e50;
}
