.jumbo{
  padding: 50px 0;
}

.bg-green{
  background: #1abc9c;
  color: #fff;
}

.jumbo img{
  height: 400px;
}

.star{
  margin: 30px 0;
}

.blue{
  color: #2c3e50;
}

.portfolio{
  margin: 30px 0;
}

.portfolio img{
  border-radius: 10%;
  margin: 20px 0;
}

.about{
  padding: 50px 0;
}

footer{
  color: #fff;
}

.footer-top{
  background: #3a546d;
  padding: 30px 0;
}

.footer-top a{
  color: #1fac94;
}

.footer-top a i{
  color: #fff;
}

.footer-bottom{
  background: #2c3e50;
  padding: 30px 0;
  font-size: 12px;
}
